<!-- <div class="banner">
  <img
    class="banner-img"
    src="https://res.cloudinary.com/dsruc2myl/image/upload/c_fill,g_auto,h_250,w_970/b_rgb:000000,e_gradient_fade,y_-0.50/c_scale,co_rgb:ffffff,fl_relative,l_text:montserrat_25_style_light_align_center:Shop%20Now,w_0.5,y_0.18/v1682205748/hebq2c4mufgmaqakpot6.png"
  />
</div> -->
<!-- <div class="heading">My Collection</div> -->

<div class="index-wrapper">
  <% sneakers.forEach(sneaker => { %>

  <div class="sneaker">
    <a href="/sneaker/<%= sneaker.id %>/show">
    <div class="sneaker-polaroid">
      <img src="<%= sneaker.img%>" />
      <div id="name">
          <%= sneaker.name %>
        </div>
      </div>
    </a>
  </div>

  <% }) %>
</div>
