<main class="hero-section">
  <div class="hero-text">
      <h1>Unleash Your Sneaker Obsession</h1>
      <p>Dive into your Collection of Special Kicks</p>
    <div class="button-link"><a  href="/sneaker">See Your Collection</a></div>
  </div>
  <!-- <img class="banner-img" src="https://res.cloudinary.com/dsruc2myl/image/upload/c_scale,h_450,w_800/v1682192446/excz9iqriboa6e21qmin.jpg"> -->
</main>