<!-- <div class="new-background"></div> -->
  <section class="form-container">
    <div class="new-card">
        <div class="form-title">
          <h2>create New Sneaker</h2>
          <img class="form-image" src="../images/mystery-Sneaker.jpeg" alt="Mistery Sneaker image">
      </div>
      <div class="row1">
        <div class="col1">
          <div class="form-group1">
            <form action="/sneaker" method="POST">
              <label for="brand">Brand</label>
              <input type="text" name='brand' id='brand' class="new-input">
          </div>
        </div>
        <div class="col1">
          <div class="form-group1">
            <label for="name">Name</label>
            <input type="text" name='name' id='name' class="new-input">
          </div>
        </div>
        <div class="col1">
          <div class="form-group1">
            <label for="img">Image Link</label>
            <input type="text" name='img' id='img' class="new-input">
          </div>
        </div>
        <div class="col1">
          <div class="form-group1">
            <label for="imgL">ImageL</label>
            <input type="text" name='imgL' id='imgL' class="new-input">
          </div>
        </div>
        <div class="col1">
          <div class="form-group1">
            <label for="imgCL">ImageCL</label>
            <input type="text" name='imgCL' id='imgCL' class="new-input">
          </div>
        </div>
        <div class="col1">
          <div class="form-group1">
            <label for="imgCR">ImagCR</label>
            <input type="text" name='imgCR' id='imgCR' class="new-input">
          </div>
        </div>
        <div class="col1">
          <div class="form-group1">
            <label for="imgR">ImageR</label>
            <input type="text" name='imgR' id='imgR'class="new-input" >
          </div>
        </div>
        <div class="col1">
          <div class="form-group1">
            <label for="colorway">ColorWay</label>
            <input type="text" name='colorWay' id='colorWay' class="new-input">
          </div>
        </div>
        <div class="col1">
          <div class="form-group1">
            <label for="condition">Condition</label>
            <input class="new-input" type="text" name='condition' id='condition'>
          </div>
        </div>
        <div class="col1">
          <div class="form-group1">
            <label for="size">Size</label>
            <input class="new-input" type="text" name='size' id='size'>
          </div>
        </div>
        <div class="col1">
          <div class="form-group1">
            <label for="worn"># Worn</label>
            <input class="new-input" type="text" name='worn' id='worn'>
          </div>
        </div>
        <div class="col1">
          <input type="submit" value='Add Sneaker' class="new-input">
          </form>
        </div>
      </div>
    </div>
  </section>







<!-- <div class="new-div">
<div class="new-card">
    
    <h2>create New Sneaker</h2>
    <div class="row1">
      <div class="col1">
        <div class="form-group1">
            <form action="/sneaker" method="POST">
                <label>Name</label>
                <input class="new-input"  type="text" name='name' id='name'>
        </div>
    </div>
  
    <div class="col1">
        <div class="form-group1">
          <label>Brand</label>
          <input class="new-input"  type="text" name='brand' id='brand'>
        </div>
    </div>
  
      <div class="col1">
        <div class="form-group1">
          <label>ColorWay</label>
          <input class="new-input"  type="text" name='colorWay' id='colorWay'>
        </div>
    </div>
    <div class="col1">
        <div class="form-group1">
          <label>Image Link</label>
          <input class="new-input"  type="text" name='img' id='img'>
        </div>
    </div>
  
      <div class="col1">
        <div class="form-group1">
          <label>Size</label>
          <input class="new-input"  type="text" name='size' id='size'>
        </div>
    </div>
  
    <div class="col1">
        <div class="form-group1">
            <label for="worn"># worn</label>
            <input class="new-input"  type="text" name='worn' id='worn'>
        </div>
      </div>
  
      <div class="col1">
        <input class="new-input" type="submit" value='Add Sneaker'>
    </form>
      </div>
    </div>
</div>

 -->
